{% extends 'base.html' %}
{% load static %}

{% block title %}Quick Start - BrandonUbuntuDev{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo" height="40" class="me-2">
            BrandonUbuntuDev
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'quickstart' %}">Quick Start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tutorials' %}">Tutorials</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Quick Start Guide</h1>
            <p class="lead">Get up and running with Ubuntu quickly with these essential tutorials.</p>
        </div>
    </div>
    
    <div class="row">
        {% for tutorial in tutorials %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card tutorial-card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ tutorial.title }}</h5>
                    <p class="card-text">{{ tutorial.content|truncatewords:15 }}</p>
                    <span class="badge bg-{{ tutorial.difficulty|lower }} me-2">{{ tutorial.get_difficulty_display }}</span>
                </div>
                <div class="card-footer">
                    <a href="{{ tutorial.get_absolute_url }}" class="btn btn-primary">Start Tutorial</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info">
                <h4>Quick Start tutorials coming soon!</h4>
                <p>We're preparing essential Ubuntu tutorials to get you started quickly. Check back soon!</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<footer class="bg-dark text-white py-4 mt-auto">
    <div class="container text-center">
        <p>&copy; 2024 BrandonUbuntuDev. All rights reserved.</p>
    </div>
</footer>
{% endblock %}
